{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Baba Footwear{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">Baba Footwear 👟</div>
    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <div class="theme-toggle">
      <button id="theme-toggle">🌙 Toggle Theme</button>
      </div>
      <input type="text" id="search-input" placeholder="Search Products">
      <button id="search-btn">Search</button>
    </ul>
  </nav>
  
  <!-- Flash messages -->

  <main>
  {% if messages %}
    {% for message in messages %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  
  {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-container">
      <div class="about-footer">
        <h3>Thankyou for Visiting!</h3>
        <h3>About Us</h3>
        <p>Baba Footwear offers stylish, affordable shoes for everyone.</p>
        <p>📍 Near Ram Mandir, Gursahaiganj (Kannauj), Uttar Pradesh</p>
        <p>✉️ babafootwear8299@gmail.com</p>
      </div>
    </div>
  </footer>

  <script src="{% static 'shop/js/script.js' %}"></script>
</body>
</html>
