{% extends 'shop/base.html' %}
{% block title %}Home - Baba Footwear{% endblock %}
{% block content %}

<h2>Men's Collection</h2>
<div id="men" class="product-container">
  {% for product in products %}
    {% if product.category == "men" %}
      <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3 class="product-title">{{ product.name }}</h3>
        <p>Size: {{ product.size }}</p>
        <p>₹{{ product.price }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2>Women's Collection</h2>
<div id ="women" class="product-container">
  {% for product in products %}
    {% if product.category == "women" %}
      <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3 class="product-title">{{ product.name }}</h3>
        <p>Size: {{ product.size }}</p>
        <p>₹{{ product.price }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2>Kid's Collection</h2>
<div id="kid" class="product-container">
  {% for product in products %}
    {% if product.category == "kid" %}
      <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3 class="product-title">{{ product.name }}</h3>
        <p>Size: {{ product.size }}</p>
        <p>₹{{ product.price }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}

